.inter-trial-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a4152;
}

.inter-trial-screen p {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.inter-trial-screen strong {
  font-size: 28px;
}
